{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans %}gestion.services.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans %}gestion.services.index.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-calendar"></i>
{% trans %}gestion.services.index.breadh1{% endtrans %}
{% endblock %}
{% block breadcrumbH2 %}{% trans %}gestion.services.index.breadh2{% endtrans %}{% endblock %}
{% block content %}
<!-- Main content -->
                <section class="content">

                   

                </section><!-- /.content -->
{% endblock %}