/front/web/bundles/
/front/app/bootstrap.php.cache
/front/app/cache/*
/front/app/config/parameters.yml
/front/app/logs/*
/front/build/
/front/vendor/
/front/bin/
/front/composer.phar
/front/src/Main/CommonBundle
/community/web/bundles/
/community/app/bootstrap.php.cache
/community/app/cache/*
/community/app/config/parameters.yml
/community/app/logs/*
/community/build/
/community/vendor/
/community/bin/
/community/composer.phar
/community/src/Main/CommonBundle/
/gestion/web/bundles/
/gestion/app/bootstrap.php.cache
/gestion/app/cache/*
/gestion/app/config/parameters.yml
/gestion/app/logs/*
/gestion/build/
/gestion/vendor/
/gestion/bin/
/gestion/composer.phar
