{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans %}gestion.users.photographers.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans %}gestion.users.photographers.verify.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-camera-retro"></i>
{% trans %}gestion.users.photographers.index.breadh1{% endtrans %}
{% endblock %}
{% block breadcrumbH2 %}{% trans %}gestion.users.photographers.verify.breadh2{% endtrans %}{% endblock %}
{% block content %}
                <!-- Main content -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">{% trans %}gestion.users.photographers.verify.h2{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                {% include "MainGestionBundle:Users/Photographers/verify:list.html.twig" %}
                                <div class="box-footer clearfix">
                                    <a class="btn btn-default pull-left" href="{{ path('users', {'type' : 'photographers' } ) }}">
                                        {% trans %}gestion.users.photographers.list.btn.back{% endtrans %}
                                    </a>
                                </div>                               
                            </div><!-- /.box -->
                        </div>
                    </div>
                    {% include "MainGestionBundle:Users/Photographers/verify:confirm_boxes.html.twig" %}
{% endblock %}

{% block javascripts_inline %}
        <script type="text/javascript">
            $(function() {
                $('#datatable').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
            $('#approveModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);
                var aSupprSplited = $('#aSuppr').attr('href').split('/');
                aSupprSplited[aSupprSplited.length - 2] = id;
                $('#aSuppr').attr('href', aSupprSplited.join('/'));
             });
             $('#refuseModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var modal = $(this);
                var aSupprSplited = $('#aSuppr1').attr('href').split('/');
                aSupprSplited[aSupprSplited.length - 2] = id;
                $('#aSuppr1').attr('href', aSupprSplited.join('/'));
             });
        </script>
{% endblock %}