{% extends "::layout.html.twig" %}
{% block title %}{% trans with {'%reference%' : prestation.reference} from "prestations" %}prestation.notation.title %reference%{% endtrans %}{% endblock %}
{% block content %}
	<div class="col-md-12 content">
  		<div class="panel panel-primary">
			<div class="panel-heading">
				{% trans with {'%reference%' : prestation.reference} from "prestations" %}prestation.notation.header %reference%{% endtrans %}
			</div>
			<div class="panel-body">
				 {{ form_start(form) }}
				   {{ form_widget(form) }}
			</div>
			<div class="panel-footer">
			   <button type="submit" class="btn btn-primary">
			   	{% trans from "prestations" %}prestation.notation.btn.submit{% endtrans %}
			   </button>
			   <a class="btn btn-link" href="{{ path('show_service', { 'id' : prestation.id })}}">
			   {% trans from "prestations" %}prestation.notation.btn.back{% endtrans %}
			</a>
			 </div>
			{{ form_end(form) }}
			
		</div>
  	</div>
{% endblock %}
{% block bottom_script %}

<script type="text/javascript">
    $(function() {
                var divsToHide = document.getElementsByClassName("caption");
			    for(var i = 0; i < divsToHide.length; i++)
			    {
			    divsToHide[i].style.visibility="hidden";
			    }
            });
    </script>    
{% endblock bottom_script %}