<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="titleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title text-danger" id="titleModal">
                    	{% trans from "services" %}community.service.show.confirm.header{% endtrans %}
                    </h4>
                </div>
                <div class="modal-body">
                <strong>{% trans from "services" %}community.service.show.confirm.attention{% endtrans %} </strong> {% trans from "services" %}community.service.show.confirm.message{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                    	{% trans from "services" %}community.service.show.btn.confirm.back{% endtrans %}
                    </button>
                    <a href="{{ path('service_pre_approve', { 'id' : prestation.id }) }}" role="button" class="btn btn-success" id="aSuppr">
                    	{% trans from "services" %}community.service.show.btn.confirm.confirm{% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="refuseModal" tabindex="-1" role="dialog" aria-labelledby="titleModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title text-danger" id="titleModal">
                    {% trans from "services" %}community.service.show.confirm.header{% endtrans %}
                	</h4>
                </div>
                <div class="modal-body">
                <strong>{% trans from "services" %}community.service.show.confirm.attention{% endtrans %} </strong> {% trans from "services" %}community.service.show.confirm.message{% endtrans %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans from "services" %}community.service.show.btn.confirm.back{% endtrans %}
                </button>
                    <a href="{{ path('service_refuse', { 'id' : prestation.id }) }}" role="button" class="btn btn-danger">
                    {% trans from "services" %}community.service.show.btn.confirm.confirm{% endtrans %}
                </a>
                </div>
            </div>
        </div>
    </div>