<div class="timeline-body"> 
	{% if 1 == message.model %}
		{% trans from "services" %}
			community.service.show.timeline.title.status.created
		{% endtrans %} 
	{% elseif 2 == message.model %}
		{% trans from "services" %}
			community.service.show.timeline.title.status.preapproved
		{% endtrans %} 
	{% elseif 3 == message.model %}
		{% trans from "services" %}
			community.service.show.timeline.title.status.refused
		{% endtrans %} 
	{% elseif 4 == message.model %}
		{% trans from "services" %}
			community.service.show.timeline.title.status.canceled
		{% endtrans %} 
	{% elseif 5 == message.model %}
		{% trans from "services" %}
			community.service.show.timeline.title.status.confirmed
		{% endtrans %} 
	{% elseif 11 == message.model %}
		{% trans with {'%data%' : message.content} from "services" %}
			community.service.show.timeline.title.edit.date %data%
		{% endtrans %}
	{% elseif 12 == message.model %}
		{% trans with {'%data%' : message.content} from "services" %}
			community.service.show.timeline.title.edit.price %data%
		{% endtrans %} 
	{% elseif 13 == message.model %}
		{% trans with {'%data%' : message.content} from "services" %}
			community.service.show.timeline.title.edit.duration %data%
		{% endtrans %} 
	{% endif %}

</div>