{% extends '::base.html.twig'%}
{% block title %}{% trans from "default" %}community.default.cgu.h2{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "default" %}community.default.cgu.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "default" %}community.default.cgu.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-comments-o"></i>
{% trans from "default" %}community.default.cgu.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "default" %}community.default.cgu.breadh2{% endtrans %}{% endblock %}
{% block content %}
<div class="row">

</div>
{% endblock %}