{% extends '::base.html.twig'%}
{% block title %}{% trans from "default" %}community.default.faq.h2{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "default" %}community.default.faq.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "default" %}community.default.faq.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-comments-o"></i>
{% trans from "default" %}community.default.faq.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "default" %}community.default.faq.breadh2{% endtrans %}{% endblock %}
{% block content %}
<h3 style="color:#3C8DBC">{% trans from "faq"%}faq.h3.first{% endtrans %}</h3>
<div class="row">
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q1.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q1.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q1.a2{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q2.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q2.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q3.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q3.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q3.a2{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q3.a3{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<div class="row">
<section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q4.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q4.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<h3 style="color:#3C8DBC">{% trans from "faq"%}faq.h3.second{% endtrans %}</h3>
<div class="row">
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q5.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q5.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q6.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q6.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<h3 style="color:#3C8DBC">{% trans from "faq"%}faq.h3.third{% endtrans %}</h3>
<div class="row">  
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q7.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q7.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q8.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q8.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q8.a2{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q9.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q9.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q9.a2{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<div class="row">
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q10.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q10.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q10.a2{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q11.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q11.a1{% endtrans %}
            <br>
            {% trans from "faq"%}faq.q11.a2{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q12.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q12.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<h3 style="color:#3C8DBC">{% trans from "faq"%}faq.h3.fourth{% endtrans %}</h3>
<div class="row">
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q13.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q13.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q14.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q14.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q15.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q15.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>
<h3 style="color:#3C8DBC">{% trans from "faq"%}faq.h3.fifth{% endtrans %}</h3>
<div class="row">
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q16.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q16.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q17.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q17.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header">
              <i class="fa fa-question"></i>
               {% trans from "faq"%}faq.q18.q{% endtrans %}
            </li>
        </ul>
        <div class="tab-content">
          <p>
            {% trans from "faq"%}faq.q18.a{% endtrans %}
          </p>
        </div>
      </div>
  </section>
</div>


{% endblock %}