{% if is_granted('ROLE_PHOTOGRAPHER') and is_granted('ROLE_PHOTOGRAPHER_VERIFIED') == false %}
    {% if null == company %}
		<div class="alert alert-info alert-dismissable">
		<i class="fa fa-info"></i>
		<b>{% trans from "default" %}community.default.headband.info.banner{% endtrans %}</b>
		{% trans from "default" %}community.default.headband.info.message{% endtrans %}
		</div>
	{% elseif 1 == company.status.id %}
		<div class="alert alert-warning alert-dismissable">
		<i class="fa fa-warning"></i>
		<b>{% trans from "default" %}community.default.headband.warning.banner{% endtrans %}</b>
		{% trans from "default" %}community.default.headband.warning.message1{% endtrans %}
		<br>
		{% trans from "default" %}community.default.headband.warning.message2{% endtrans %}
		</div>
	{% elseif 2 == company.status.id %}
		<div class="alert alert-success alert-dismissable">
		<i class="fa fa-check"></i>
		<b>{% trans from "default" %}community.default.headband.success.banner{% endtrans %}</b>
		{% trans from "default" %}community.default.headband.success.message1{% endtrans %}
		<br>
		{% trans from "default" %}community.default.headband.success.message2{% endtrans %}
		</div>
	{% elseif 3 == company.status.id %}
		<div class="alert alert-danger alert-dismissable">
		<i class="fa fa-ban"></i>
		<b>{% trans from "default" %}community.default.headband.danger.banner{% endtrans %}</b>
		{% trans from "default" %}community.default.headband.danger.message{% endtrans %}
		</div>	
	{% endif %}
{% endif %}
