{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "default" %}community.default.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "default" %}community.default.index.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "default" %}community.default.index.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "default" %}community.default.index.breadh2{% endtrans %}{% endblock %}
{% block content %}
<!-- Main content -->
                <section class="content">
                    {% if isRole('ROLE_PHOTOGRAPHER') %}
                        {% include "MainCommunityBundle:Default:dashboard.html.twig" %} 
                    {% elseif isRole('ROLE_PHOTOGRAPHER_VERIFIED') %}
                        {% include "MainCommunityBundle:Default:dashboard_verified.html.twig" %}
                    {% endif %}
                </section><!-- /.content -->
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        var groupByDevis = "{{ groupByDevis }}";
        var groupByPrest = "{{ groupByPrest }}"
    </script>    
{% endblock javascripts_inline %}