<div class="text-center">
	<a class="btn btn-social-icon">
	<i class="fa fa-facebook"></i>
	</a>
	<a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);">
	<i class="fa fa-twitter"></i>
	</a>
	<a class="btn btn-social btn-linkedin">
	<i class="fa fa-linkedin"></i>
	</a>
	<a class="btn btn-social-icon btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-md']);">
	<i class="fa fa-google"></i>
	</a>
	<a class="btn btn-social-icon btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-github']);">
	<i class="fa fa-github"></i>
	</a>
	<a class="btn btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);">
	<i class="fa fa-instagram"></i>
	</a>

</div>