{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "services" %}community.service.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "services" %}community.service.index.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-calendar"></i>{% trans from "services" %}community.service.index.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "services" %}community.service.index.breadh2{% endtrans %}{% endblock %}
{% block content %}
                <!-- Main content -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">{% trans from "services" %}community.service.index.header{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                {% include "MainCommunityBundle:Services:list.html.twig" %}
                            </div><!-- /.box -->
                        </div>
                    </div>
{% endblock %}

{% block javascripts_inline %}
        <script type="text/javascript">
            $(function() {
                $('#datatable').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false,

                });
            });
        </script>
{% endblock %}