{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "services" %}community.service.notation.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "services" %}community.service.notation.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "services" %}community.service.notation.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "services" %}community.service.notation.breadh2{% endtrans %}{% endblock %}
{% block content %}
                <!-- Main content -->
                    <div class="row">
                        		<div class="col-xs-12">
		                            <div class="box">
		                            	<div class="box-header">
		                                    <h3 class="box-title">{% trans from "services" %}community.service.notation.header{% endtrans %}</h3>
		                                </div><!-- /.box-header -->
		                                <!-- form start -->
		                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		                                    <div class="box-body">									
		                                        {{ form_rest(form) }}
		                                    </div><!-- /.box-body -->
		
		                                    <div class="box-footer">
		                                        <button type="submit" class="btn btn-primary">{% trans from "services" %}community.service.notation.btn.submit{% endtrans %}</button>
		                                    </div>
		                                {{ form_end(form) }}
		                            </div>
                            	</div>
                            </div>
{% endblock %}
{% block javascripts_inline %}
        <script type="text/javascript">
            $(function() {
                var divsToHide = document.getElementsByClassName("caption");
			    for(var i = 0; i < divsToHide.length; i++)
			    {
			    divsToHide[i].style.visibility="hidden";
			    }
            });
        </script>
{% endblock %}
