{% extends '::base.html.twig'%}
{% block title %}{% trans from "services" %}community.service.index.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "services" %}community.service.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "services" %}community.service.index.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-calendar"></i>{% trans from "services" %}community.service.index.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "services" %}community.service.index.breadh2{% endtrans %}{% endblock %}
{% block content %}
<div class="row">
    <div class="callout callout-info">
        <h4>{% trans from "services" %}community.service.V09.help.h4{% endtrans %}</h4>
        <p>{% trans from "services" %}community.service.V09.help.p1{% endtrans %}</p>
        <p>{% trans from "services" %}community.service.V09.help.p2{% endtrans %}</p>
        <p>{% trans with {'%email%' : contact.help}from "services" %}community.service.V09.help.contact %email%{% endtrans %}</p>
    </div>
</div>
{% endblock %}