<br><br>
<div class="row text-center">
	<div class="panel panel-danger">
		<div class="panel-heading text-center">
			{% trans %}search.main.results.count.empty.header{% endtrans %}
		</div>
		<div class="panel-body">
			<br><br>
			{% trans %}search.main.results.count.empty.p{% endtrans %}
			<br><br>
		</div>
	</div>
</div>
