{% extends "::layout.html.twig" %}

{% block content %}
   <div class="row text-center">
	   {{ form_start(form) }}
	   		<div class="col-xs-12 col-md-3 form-group {% if not form.category.vars.valid %}has-error{% endif %}">
	   	   {{ form_widget(form.category) }}
	   		</div>
	   		
	  	 <button type="submit" class="btn btn-normal">
	  	 	{% trans %}search.index.btn.submit{% endtrans %}
	  	 </button>
	  	 {{ form_rest(form) }}
	   {{ form_end(form) }}

   </div>
{% endblock %}