{% if prices|length == 0 %}
                            	                      
                                	<div class="box-body table-responsive">
                                        <h4>
                                            {% trans from "offers" %}community.devis.read.prices.empty{% endtrans %}
                                        </h4>
                                	</div>
{% else %}
                            	<div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.duration{% endtrans %}
                                                </th>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.price{% endtrans %}
                                                </th>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.status{% endtrans %}
                                                </th>
                                            </tr>
                                            {% for entity in prices %}
                                            <tr>
                                                <td> {{entity.duration.libelle}} </td>
                                                <td> {{entity.price}} </td>
                                                {% if 1 == entity.active %}
                                                <td>
                                                    <span class="label label-success">
                                                        {% trans from "offers" %}community.devis.read.prices.th.enabled{% endtrans %}
                                                    </span>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <span class="label label-warning">
                                                        {% trans from "offers" %}community.devis.read.prices.th.disabled{% endtrans %}
                                                    </span>
                                                </td>
                                                {% endif %}
                                                
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            
{% endif %}