<div class="pull-right hidden-xs">
	<b>Version</b> 0.7          
</div>
	<strong>Copyright &copy; 2015 cheeese</strong> {% trans from "menu" %}menu.footer.copyrights{% endtrans %}.
	<p>
	<a href="{{ path('help') }}"> {% trans from "menu" %}menu.footer.help{% endtrans %}</a>
	</p>
