<div class="pull-right hidden-xs">
	<p style="padding-right: 10px;">
	<a href="{{ path('help') }}"> {% trans from "menu" %}menu.footer.help{% endtrans %}</a>
	</p>
	<b>Version</b> 0.7          
</div>
<p style="padding-left: 10px;">
	<strong>Copyright &copy; 2015 cheeese</strong> {% trans from "menu" %}menu.footer.copyrights{% endtrans %}.
</p>	
