{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "users" %}community.presentation.read.book.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "users" %}community.presentation.read.book.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "users" %}community.presentation.read.book.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "users" %}community.presentation.read.book.breadh2{% endtrans %}{% endblock %}
{% block content %}
<section class="content">
	<div class="row">
			<div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">
                                    	{% trans from "users" %}community.presentation.read.book.header{% endtrans %}
                                    </h3>
                                </div>
                               {{ form_start(form) }}
                                    
                                    <div class="box-body">									
                                        {{ form_widget(form) }}
                                    </div>

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">
                                        	{% trans from "users" %}community.presentation.read.book.btn.submit{% endtrans %}
                                        </button>
                                        <a href="{{ path('presentation') }}" class="btn btn-default">
                                        	{% trans from "users" %}community.presentation.read.book.btn.back{% endtrans %}
                                        </a>
                                    </div>
                                {{ form_end(form) }}
                            </div>
		</div>	
	</div>
</section>
{% endblock %}